body {
  font-family: 'Fira Code', monospace;
  color: white;
  background-color: rgba(18, 12, 42, 1);
  padding: 2%;
}


::selection {
  background: #9612E7;
  color: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


h1 {
  text-align: left;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

h3{
  color: #9612E7;
}

div.title h1:nth-of-type(2) {
  color: #9612E7;
}

.menu {
  color: grey;
  flex-grow: 1;
  text-align: right;

}


div.title p {
  color: grey;
}




#ball {
  width: 18%;
}

.logo-container {
  width: 15%;
  display: flex;



}

.logo-container img {
  flex-grow: 1;
  animation: spin 18s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}



ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  padding: 0 10px;
}


.CV {
  border: 4px solid #9612E7;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
}

#CV {

  margin-right: 15px;
  margin-left: 15px;

}

.title {
  padding-left: 30%;
  padding-right: 30%;
}



.mouseContainer {
  width: 24px;
  margin: 0 auto;
  text-align: center;
  margin-top: 100px;
}

.mouseContainer .mouse {
  border: 3px solid white;
  width: 18px;
  background-color: transparent;
  height: 35px;
  border-radius: 10px;
}

.mouseContainer .mouse .wheel {
  width: 1px;
  height: 1px;
  border: 2px solid white;
  background-color: white;
  position: relative;
  border-radius: 50%;
  left: 50%;
  margin-left: -2px;
  top: 7px;
  -webkit-animation: scroll 1s infinite;
  animation: scroll 1s infinite;
}

@-webkit-keyframes scroll {
  0% {
    top: 6px;
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    top: 20px;
    opacity: 0;
  }
}

@keyframes scroll {
  0% {
    top: 6px;
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    top: 20px;
    opacity: 0;
  }
}


a {
  text-decoration: none;
  color: inherit;
}

/*main*/

.custom-h2::before {
  content: "<h2>";
  color: #9612e7;
}

.custom-h2::after {
  content: "</h2>";
  color: #9612e7;
}

.custom-h2 {
  color: white;
}

.a-propos-container {
  display: flex;
}

.column-left {
  flex: 1;
  padding: 2%;
  margin: 1%;
  margin-left: 8%;
  border-left: 3px solid #9612E7;
}

.column-right {
  flex: 1;
  padding: 2%;
  margin: 1%;
  padding-right: 5%;

}

.l-container {
  display: flex;
  width: 80%;
}

.l-column-left {
  flex: 1;
}

.l-column-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: -10%;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.box {
  width: 35%;
  height: 40px;
  border-radius: 12px;
  background-color: #32246C;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;
}



body {
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0;

}

a {
  display: inline-blesock;
  color: inherit;
  text-decoration: none;
  text-decoration-skip-ink: auto;
}

button {
  border: 0;
  outline: 0;
  cursor: pointer;
}

button {
  border: 3px solid #9612e7;
  background-color: #9612e7;
  border-radius: 20px 20px 20px 20px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, padding 0.5s; /* Combine transitions into a single line */
}

button:hover {
  background-color: #32246C;
  padding: 15px;
  padding-left: 25px;
  padding-right: 25px;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
  background-color: #9612e7;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}



ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

svg {
  width: 100%;
  height: 100%;
  fill: currentColor;
}

img {
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
}

.projets {
  display: flex;
  flex-direction: row;
  align-items: center;
}



.contenu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.image {
  width: 50%;
  max-width: 100%;
}

.text {
  width: 50%;
  text-align: center;
  margin-left: 2%;
  margin-right: 2%;
}

.reseaux{
  width: 20%;
}

#reseaux{
  margin-top: 5%;
  display: flex;
  text-align: center;
  justify-content: space-around;
}

.imgexp{
  width: 40%;
}